* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: clamp(14px, 1vw + 1rem, 18px);
}

body {
  background-color: black;
  color: white;
}

@import "button";

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  section {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .container {
      width: 100%;
      padding: 0 30px;
    }
  }

  section.view1 {
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;

      .left {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        img {
          width: 1.8rem;
        }

        p {
          font-size: 1.5rem;
        }
      }

      .mobile-right {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        padding: 0.7rem 1.1rem;

        img {
          width: 0.9rem;
        }

        p {
          font-size: 0.9rem;
        }
      }

      .desktop-right {
        display: none;
        gap: 1rem;
        align-items: center;
      }
    }
    .container.bottom {
      padding: 0;
      height: 1.5px;
      background: linear-gradient(
        to right,
        black,
        rgba(255, 255, 255, 0.42),
        black
      );
    }
  }

  section.view2 {
    max-width: unset;
    width: 100%;
    margin: 0;
    position: relative;

    #bg-video {
      width: 100%;
      min-width: 1500px;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      z-index: -1;
    }

    .container {
      height: 100vh;
      padding-top: 6rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        color: transparent;
        font-size: 5.5rem;
        font-weight: 400;

        background: linear-gradient(
          45deg,
          #ffd78d,
          rgb(86, 151, 255),
          #ffd78d,
          rgb(86, 151, 255),
          #ffd78d
        );
        background-size: 500% 500%;
        background-position: center;
        animation: bg-animation 4s linear infinite;
        background-clip: text;
      }

      // @keyframes bg-animation {
      //   0% {
      //     background-size: 500% 500%;
      //   }
      //   50% {
      //     background-size: 100% 100%;
      //   }
      //   100% {
      //     background-size: 500% 500%;
      //   }
      // }

      > p {
        padding-top: 1.2rem;
        text-align: center;
        font-size: 0.9rem;
      }

      .fade-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding: 0.8rem 1.3rem;
        background-color: rgba(0, 0, 0, 0.233);
        border-radius: 50px;
        border: 1.5px solid gray;
        backdrop-filter: blur(5px);
        margin-top: 1.8rem;

        p {
          font-size: 0.9rem;
        }

        i {
          font-size: 0.6rem;
        }
      }
    }
  }

  section.view3 {
    .container {
      display: flex;
      gap: 2rem;
      padding-left: 0;
      padding-right: 0;
      padding-top: 3rem;
      padding-bottom: 5rem;
      overflow-x: scroll;
      animation: smooth-scroll 7s linear forwards infinite;

      .card {
        padding: 2.5rem;
        flex-shrink: 0;
        display: flex;
        gap: 1rem;
        align-items: center;
        background-image: url(./assets/women-bg.webp);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 400px;
        .left {
          width: 30%;
          img {
            width: 100%;
          }
        }

        .right {
          width: 69%;
          display: flex;
          flex-direction: column;
          gap: 0.1rem;

          h4 {
            font-weight: 400;
            background-image: url(./assets/btn-bg.webp);
            background-size: cover;
            background-position: center;
            padding: 0.25rem 0.8rem;
            border-radius: 50px;
            border: 0.1px solid gray;
            width: fit-content;
          }

          h2 {
            font-size: 1.4rem;
            font-weight: 500;
          }

          p {
            font-weight: 300;
            font-size: 0.7rem;
            color: rgba(255, 255, 255, 0.47);
          }
        }
      }
      .card-2 {
        .left {
          img {
            width: 70%;
          }
        }
      }
    }

    @keyframes identifier {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(100px);
      }
    }

    .container::-webkit-scrollbar {
      display: none;
    }
  }

  section.view4 {
    .container {
      padding-top: 2rem;
      text-align: center;
      padding-bottom: 4rem;

      h1 {
        font-size: 2.4rem;
        font-weight: 400;
        span.style-text {
          background: linear-gradient(
            45deg,
            rgb(255, 170, 113),
            rgb(255, 99, 99),
            rgb(255, 170, 113),
            rgb(255, 99, 99)
          );
          background-clip: text;
          color: transparent;
        }
      }

      p {
        padding-top: 1rem;
        font-size: 0.9rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.445);
      }
    }
  }

  section.view5 {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3rem;
      padding: 1rem 2.5rem 3rem;

      > .top {
        width: 100%;
        position: relative;
        padding-top: 2rem;
        padding-bottom: 2rem;

        .bg {
          border-radius: 1.5rem;
          width: 100%;
          border: 1px solid rgba(99, 103, 112, 0.53);
        }

        .circle,
        .buttons {
          width: 70%;
          position: absolute;
          top: 3.5rem;
          left: 2.8rem;
          transition: all 1s ease;
        }
      }

      > .top:hover {
        .circle {
          transform: rotateZ(-50deg) scale(0.9);
        }
        .buttons {
          transform: rotateZ(50deg) scale(0.8);
        }
      }

      .bottom {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .block {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          .head {
            display: flex;
            align-items: center;
            position: relative;

            img.left {
              height: 1.3rem;
            }

            h2 {
              font-size: 1.3rem;
              padding-left: 0.7rem;
              font-weight: 500;
              transition: all 0.5s ease;
            }

            div.right {
              position: absolute;
              // right: 0;
              right: -10px;
              opacity: 0;
              transition: all 300ms ease;
              img {
                scale: 1.1;
                left: -20px;
                top: -4px;
                position: absolute;
                z-index: -1;
              }
            }
          }

          .block-body {
            font-size: 0.8rem;
            padding-left: 2rem;
            color: rgba(255, 255, 255, 0.349);
          }
        }

        .block:hover {
          .head {
            h2 {
              letter-spacing: 1px;
              background: linear-gradient(
                45deg,
                rgb(255, 170, 113),
                rgb(255, 99, 99),
                rgb(255, 170, 113),
                rgb(255, 99, 99)
              );
              background-clip: text;
              color: transparent;
            }

            div.right {
              right: 0px;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  main {
    section {
      .container {
        padding: 0 60px;
      }
    }

    section.view1 {
      .top {
        .mobile-right {
          display: none;
          padding: 0.7rem 1.3rem;
          font-size: 1.2rem;
        }

        .desktop-right {
          display: flex;
        }
      }
    }

    section.view2 {
      .container {
        padding-top: 4rem;
        h1 {
          font-size: 11rem;
        }

        > p {
          padding-top: 0;
        }
      }
    }

    section.view3 {
      .container {
        padding-top: 10rem;
      }
    }

    section.view4 {
      .container {
        padding-top: 2rem;
        text-align: center;
        padding-bottom: 4rem;

        h1 {
          font-size: 2.5rem;
        }

        p {
          font-size: 1rem;
        }
      }
    }

    section.view5 {
      .container {
        flex-direction: row;
        padding: 1rem 5rem 3rem 6rem;

        > .top {
          width: 60%;

          .circle,
          .buttons {
            top: 5rem;
            left: 5rem;
          }
        }

        .bottom {
          width: 40%;
          .block {
            .block-body {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
