*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  background-color: rgb(37, 37, 37);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.box {
  height: 300px;
  width: 300px;

  padding: 10px;
  border: 10px solid transparent;

  background:
    linear-gradient(rgb(37, 37, 37), rgb(37, 37, 37)) padding-box,
    conic-gradient(from 0deg, red, purple, pink, yellow, orange, green, blue, red) border-box;

  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.inner {
  width: 100%;
  height: 100%;
  background-color: red;
  border-radius: 50%;
}
