@font-face {
  font-family: sans;
  src: url(./assets/sans.woff2);
}

@font-face {
  font-family: roboto;
  src: url(./assets/Roboto.woff2);
}
:root {
  --blue1: #0468d7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(14px, 1vw + 0.25rem, 18px);
  scroll-behavior: smooth;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: sans;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;

  > section {
    width: 100%;
    display: flex;
    justify-content: center;

    > div {
      width: 100%;
      max-width: 1180px;
      margin: 0 1rem;
    }
  }

  section.view0 {
    div.nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0rem;

      .left {
        img {
          cursor: pointer;
          width: 5rem;
        }
      }

      .right {
        display: flex;
        gap: 0.5rem;

        .desktop-only {
          color: #4a4a4a;
          font-size: 0.9rem;
          padding: 0.7rem 1rem;
          cursor: pointer;
          font-weight: bold;
          border-radius: 50px;
          display: none;
          transition: all 0.2s ease;
        }

        .btn-primary {
          background-color: #0468d7;
          color: white;
          padding: 0.7rem 1.3rem;
          border: 1px solid #0468d7;
        }

        .desktop-only:hover {
          background-color: #b3d6ff23;
          color: #0468d7;
        }

        .btn-primary:hover {
          background-color: #ffffff;
          color: var(--blue1);
        }

        .mobile-only {
          cursor: pointer;
          padding: 0.5rem 1rem;
          border-radius: 50px;
          transition: all 0.3s;
        }

        .mobile-only:hover {
          background-color: #b3d6ff13;
          color: #0468d7;
        }
      }
    }
  }

  section.view1 {
    background: linear-gradient(35deg, #fcdde8, #f3fcff 60%);
    div.container {
      padding: 4rem 0;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto auto auto;
      align-items: center;
      justify-items: center;

      div {
        img {
          width: 100%;
        }
      }

      h2 {
        text-align: center;
        font-size: 3rem;
        padding: 3rem;
        line-height: 1;
      }

      p {
        text-align: center;
        grid-column: 1/-1;
        font-size: 2.4rem;
        padding: 3rem 2rem;
      }
    }
  }

  section.view2 {
    div.container {
      padding: 4rem 0;
      display: grid;
      gap: 3rem;
      grid-template-columns: 100%;
      grid-template-rows: auto auto auto;
      margin: 0 4rem;

      .card {
        padding-top: 1.5rem;
        padding-right: 3rem;
        border-top: 0.3rem solid rgba(223, 227, 227, 0.74);
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h2 {
          font-size: 1.7rem;
          padding-bottom: 1.2rem;
        }
        p {
          font-family: roboto;
          color: #4a4a4a;
          padding-bottom: 4rem;
          font-size: 1.2rem;
        }
        div {
          img {
            width: 100%;
          }
        }
      }
    }
  }

  section.view3 {
    .container {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto auto;
      padding: 0 4rem;
      margin: 2rem 0;
      align-items: center;
      // gap: 4rem;

      .left {
        h3 {
          font-size: larger;
          color: #4a4a4a;
          padding-bottom: 1rem;
        }

        h1 {
          font-size: 3.8rem;
          padding-bottom: 1.5rem;
          line-height: 1;
        }

        > p {
          font-family: roboto;
          font-size: 1.2rem;
          color: rgb(95, 95, 95);
          padding-right: 4.5rem;
          text-align: justify;
          padding-bottom: 1.5rem;
        }

        div {
          display: flex;
          gap: 1rem;
          align-items: center;

          .button {
            cursor: pointer;
            padding: 0.6rem 1.5rem;
            border: 1px solid var(--blue1);
            color: var(--blue1);
            border-radius: 50px;
            font-weight: bold;
            font-family: roboto;
            font-size: 0.9rem;
            transition: all 0.2s linear;
          }

          .button:hover {
            color: white;
            background-color: var(--blue1);
          }

          .para {
            cursor: pointer;
            font-size: 0.9rem;
            font-family: roboto;
            font-weight: 600;
            display: flex;
            gap: 0.5rem;
            transition: all 0.5s ease;
          }

          .para:hover {
            gap: 1rem;
          }
        }
      }

      .right {
        display: flex;
        justify-content: center;
        img {
          width: 85%;
        }
      }
    }
  }

  section.view4 {
    background: linear-gradient(35deg, #fcfce2 40%, #f5fbfe 90%);
    .container {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto auto;
      padding: 0 2rem;
      margin: 3rem 0;
      align-items: center;

      .left {
        display: flex;
        justify-content: center;
        padding-bottom: 4rem;
        img {
          width: 85%;
        }
      }

      .right {
        h3 {
          font-size: larger;
          color: #4a4a4a;
          padding-bottom: 1rem;
        }

        h1 {
          font-size: 3.8rem;
          padding-bottom: 1.5rem;
          line-height: 1;
        }

        > p {
          font-family: roboto;
          font-size: 1.2rem;
          color: rgb(95, 95, 95);
          padding-right: 3rem;
          text-align: justify;
          padding-bottom: 1.5rem;
        }

        div {
          width: fit-content;

          .button {
            cursor: pointer;
            padding: 0.6rem 1.5rem;
            border: 1px solid var(--blue1);
            color: white;
            background-color: var(--blue1);

            border-radius: 50px;
            font-weight: bold;
            font-family: roboto;
            font-size: 0.9rem;
            transition: all 0.2s linear;
          }

          .button:hover {
            color: var(--blue1);
            background-color: white;
          }
        }
      }
    }
  }

  section.view5 {
    .container {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto auto;
      padding: 0 4rem;
      margin: 2rem 0;
      align-items: center;

      .left {
        h3 {
          font-size: larger;
          color: #4a4a4a;
          padding-bottom: 1rem;
        }

        h1 {
          font-size: 3.8rem;
          padding-bottom: 1.5rem;
          line-height: 1;
        }

        > p {
          font-family: roboto;
          font-size: 1.2rem;
          color: rgb(95, 95, 95);
          padding-right: 4.5rem;
          text-align: justify;
          padding-bottom: 1.5rem;
        }

        div {
          display: flex;
          gap: 1rem;
          align-items: center;

          .button {
            cursor: pointer;
            padding: 0.6rem 1.5rem;
            border: 1px solid var(--blue1);
            color: var(--blue1);
            border-radius: 50px;
            font-weight: bold;
            font-family: roboto;
            font-size: 0.9rem;
            transition: all 0.2s linear;
          }

          .button:hover {
            color: white;
            background-color: var(--blue1);
          }

          .para {
            cursor: pointer;
            font-size: 0.9rem;
            font-family: roboto;
            font-weight: 600;
            display: flex;
            gap: 0.5rem;
            transition: all 0.5s ease;
          }

          .para:hover {
            gap: 1rem;
          }
        }
      }

      .right {
        display: flex;
        justify-content: center;
        img {
          width: 85%;
        }
      }
    }
  }

  section.view6 {
    background: linear-gradient(35deg, #fcfce2 40%, #f5fbfe 90%);
    .container {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto auto;
      padding: 0 2rem;
      margin: 3rem 0;
      align-items: center;

      .left {
        display: flex;
        justify-content: center;
        padding-bottom: 4rem;
        img {
          width: 85%;
        }
      }

      .right {
        h3 {
          font-size: larger;
          color: #4a4a4a;
          padding-bottom: 1rem;
        }

        h1 {
          font-size: 3.8rem;
          padding-bottom: 1.5rem;
          line-height: 1;
        }

        > p {
          font-family: roboto;
          font-size: 1.2rem;
          color: rgb(95, 95, 95);
          padding-right: 3rem;
          text-align: justify;
          padding-bottom: 1.5rem;
        }

        div {
          width: fit-content;

          .button {
            cursor: pointer;
            padding: 0.6rem 1.5rem;
            border: 1px solid var(--blue1);
            color: white;
            background-color: var(--blue1);

            border-radius: 50px;
            font-weight: bold;
            font-family: roboto;
            font-size: 0.9rem;
            transition: all 0.2s linear;
          }

          .button:hover {
            color: var(--blue1);
            background-color: white;
          }
        }
      }
    }
  }

  section.view7 {
    padding: 5rem 2rem;

    .box {
      background-image: url(./assets/background.png);
      background-color: #042449;
      background-position: right;
      background-size: contain;
      background-repeat: no-repeat;
      padding: 3rem;
      color: white;
      border-radius: 2rem;

      h1 {
        font-size: 4rem;
        padding-bottom: 1rem;
      }

      > p {
        font-size: 1.2rem;
        padding-bottom: 2rem;
      }

      .bottom {
        display: flex;
        gap: 2rem;

        .button {
          color: var(--blue1);
          padding: 0.5rem 2rem;
          font-weight: 600;
          background-color: white;
          border-radius: 50px;
          display: flex;
          align-items: center;
          transition: all 0.3s ease;
        }
        .button:hover {
          background-color: var(--blue1);
          color: white;
        }

        .para {
          align-items: center;
          cursor: pointer;
          font-size: 1rem;
          font-family: roboto;
          font-weight: 600;
          display: flex;
          gap: 0.5rem;
          transition: all 0.5s ease;
        }

        .para:hover {
          gap: 1rem;
        }
      }
    }
  }

  section.view8 {
    background-color: #f8f9fa;
    padding: 5rem 0 2rem 0;
    div.container {
      div.box {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        // justify-content: space-between;
        padding-left: 2.5rem;
        .left {
          img {
            width: 8rem;
          }
        }

        .right {
          padding-left: 1rem;
          width: 55%;
          display: flex;
          flex-direction: column;
          gap: 4rem;
          // padding-right: 5rem;
          justify-content: space-between;
          div {
            display: flex;
            flex-direction: column;
            gap: 0.6rem;
            p {
              color: #4a4a4a;
              cursor: pointer;
            }
            p:hover {
              text-decoration: underline;
            }
          }
        }
      }

      div.box2 {
        padding: 7rem 0 0 0;
        color: #4a4a4a;
        .top {
          display: flex;
          gap: 1rem;
          justify-content: center;
          padding-bottom: 2rem;

          i {
            cursor: pointer;
            font-size: 1.3rem;
          }
          i:hover {
            color: #0468d7;
          }
        }
        .line {
          height: 1px;
          width: 100%;
          background-color: #a1a8ac89;
        }
        .bottom {
          padding-top: 2rem;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          justify-content: space-between;
          align-items: center;
          .left {
            width: 70%;
            font-size: 0.8rem;
          }
          .right {
            display: flex;
            gap: 1rem;
            font-size: 0.9rem;
            a {
              text-decoration: none;
              color: #4a4a4a;
            }
            a:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

// Responsiveness ka prayas

@media (max-width: 480px) {
  main {
    section.view7 {
      .container {
        .box {
          background-size: 100% 100%;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  main {
    section.view0 {
      div.nav {
        div.right {
          .desktop-only {
            display: block;
          }

          .mobile-only {
            display: none;
          }
        }
      }
    }

    section.view8 {
      div.container {
        div.box {
          flex-direction: row;
          justify-content: space-between;
          gap: unset;
          .right {
            flex-direction: row;
            padding-right: 5rem;
          }
        }

        div.box2 {
          .top {
            justify-content: flex-start;
          }

          .bottom {
            flex-direction: row;
            align-items: center;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  main {
    section.view1 {
      div.container {
        grid-template-columns: 50% 50%;
        grid-template-rows: 3fr 1fr;
        grid-template-areas: 'heading image' 'para para';

        div {
          grid-area: image;
        }

        h2 {
          grid-area: heading;
          text-align: left;
          padding-left: 3rem;
          font-size: 3.5rem;
        }

        p {
          font-size: 2rem;
          grid-area: para;
          padding: 2rem 5rem;
        }
      }
    }

    section.view2 {
      div.container {
        grid-template-columns: 32% 32% 32%;
        grid-template-rows: auto;
        gap: 1.5rem;

        .card {
          margin: 0;

          div {
            img {
              width: 100%;
            }
          }
        }
      }
    }

    section.view3 {
      .container {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas: 'left right';
        padding: 0 2rem;

        .left {
          padding-left: 2rem;
          grid-area: left;
        }

        .right {
          grid-area: right;
          img {
            padding-left: 4rem;
            width: 95%;
          }
        }
      }
    }

    section.view4 {
      .container {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas: 'left right';

        .left {
          grid-area: left;
          padding-bottom: 0rem;

          img {
            width: 100%;
            padding-right: 6rem;
          }
        }

        .right {
          padding-left: 2rem;
          grid-area: right;
        }
      }
    }

    section.view5 {
      .container {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas: 'left right';
        padding: 0 2rem;

        .left {
          padding-left: 2rem;
          grid-area: left;
        }

        .right {
          grid-area: right;
          img {
            padding-left: 4rem;
            width: 95%;
          }
        }
      }
    }

    section.view6 {
      .container {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas: 'left right';

        .left {
          grid-area: left;
          padding-bottom: 0rem;

          img {
            width: 100%;
            padding-right: 6rem;
          }
        }

        .right {
          padding-left: 2rem;
          grid-area: right;
        }
      }
    }
  }
}
