@import "btn";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  // overflow: hidden;
  background-color: red;
}

#wrapper {
  height: 97.5vh;
  display: flex;
  margin: 10px;

  gap: 10px;

  .box {
    height: 100%;
    flex-grow: 1;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
    border-radius: 20px;
  }
  .box:hover {
    flex-grow: 1.6;
    box-shadow:
      2px 3px 10px 5px #1f1f1f73,
      0 0 0 2px white;
    cursor: pointer;
  }
  div:nth-child(1) {
    background-image: url(./Thor.jpg);
  }
  div:nth-child(2) {
    background-image: url(./moonKnight.jpg);
  }
  div:nth-child(3) {
    background-image: url(./ironman.jpg);
  }
  div:nth-child(4) {
    background-image: url(./cat.jpg);
  }
  div:nth-child(5) {
    background-image: url(./drDOOM2.jpg);
  }
}

@media (max-width: 700px) {
  #wrapper {
    flex-wrap: wrap;
    .box {
      width: 45vw;
      height: 500px;
    }
    .box:hover {
      flex-grow: 1;
      transform: scale(1.02);
    }
  }
}

.blue-btn {
  width: 100px - 50px; // 50px
  height: 100px + 40px; // 140px
}
