*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #333;
  color: #ffe;
}

main {
  width: 100%;
  height: 100%;
  // min-height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 25px;

  h2 {
    position: absolute;
  }
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post {
  width: 35vw;
  min-width: 400px;
  height: 95%;
  background-color: rgb(24, 24, 24);
  display: flex;
  justify-content: center;
  border-radius: 2vw;
  position: relative;
  overflow: hidden;

  .video-box {
    height: 100%;
    position: relative;

    .like-layer {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(186, 111, 111, 0.411);
      z-index: 5;

      i {
        position: relative;
        color: transparent;
        background: linear-gradient(to top, rgb(255, 217, 0), rgb(255, 81, 0), rgb(255, 0, 93), rgb(140, 24, 229), rgb(0, 132, 255));
        filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.619));
        background-clip: text;
        font-size: 5rem;
        transform: translateX(-50%) scale(0);
      }

      i.animate {
        animation: liked 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1;
      }

      @keyframes liked {
        0% {
          transform: translateX(-50%) translateY(0px) rotate(0deg) scale(0);
        }
        8% {
          transform: translateX(-50%) translateY(-12px) rotate(-58deg) scale(1.2);
        }
        20% {
          transform: translateX(-50%) translateY(-28px) rotate(24deg) scale(1);
        }
        35% {
          transform: translateX(-50%) translateY(-44px) rotate(-20deg) scale(1.05);
        }
        50% {
          transform: translateX(-50%) translateY(-58px) rotate(17deg) scale(1);
        }
        65% {
          transform: translateX(-50%) translateY(-72px) rotate(-14deg) scale(1);
        }
        75% {
          transform: translateX(-50%) translateY(-80px) rotate(10deg) scale(1);
        }
        100% {
          transform: translateX(-50%) translateY(0px) rotate(0deg) scale(0);
        }
      }
    }

    video {
      height: 100%;
    }
  }

  .details {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 50px 0px 20px 20px;
    gap: 0px;
    background: linear-gradient(to top, black, transparent);
    transform: translateY(100px);
    transition: all ease 0.3s;
    z-index: 6;

    .profile {
      flex: 1;

      img {
        width: 45px;
        height: 45px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid rgb(181, 181, 181);
      }
    }

    .about {
      flex: 4;

      .username {
        font-weight: 700;
        padding-bottom: 5px;

        button {
          background-color: transparent;
          backdrop-filter: blur(5px);
          background-color: rgba(255, 255, 255, 0.086);
          border: 1.5px solid white;
          color: white;
          border-radius: 10px;
          margin-left: 10px;
          padding: 5px 14px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          font-weight: 600;
          cursor: pointer;
          transition: all ease 0.3s;
        }
      }

      .bio {
        font-weight: 100;
        text-wrap: nowrap;
        font-size: 0.9rem;
        color: rgba(255, 255, 255, 0.505);
      }
    }
  }
  &:hover .details {
    transform: translateY(0px);
  }

  .feature-layer {
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    display: flex;
    width: fit-content;
    flex-direction: column;
    gap: 12px;
    font-size: 1.2rem;
    transform: translateX(-70px);
    transition: all ease 0.3s;

    i {
      backdrop-filter: blur(10px);
      background: rgb(54, 54, 54);
      padding: 10px;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
  }

  &:hover .feature-layer {
    transform: translateX(0);
  }
}
